[MASTER]
extension-pkg-whitelist=pyabslib,pycfrlib,pygamelib,pyutil
ignore=ext

[MESSAGES CONTROL]
disable=
    missing-docstring,
    invalid-name,
    line-too-long,
    too-many-arguments,
    too-many-locals,
    too-many-instance-attributes,
    too-few-public-methods,
    too-many-branches,
    too-many-statements,
    too-many-public-methods,
    too-many-return-statements,
    locally-disabled,
    file-ignored

[TYPECHECK]
ignored-classes=twisted.internet.reactor
